/* ================================= 
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Nue', sans-serif;
	line-height: 2;
	color: #242424;
}





/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



.nav {
    background-color: #fff;
    position: relative;
    text-align: center;
    height:70px;
    line-height: 70px;
}



img.header_logo {
    height: 4em;
    
    float: left;
    
  }

.menu {
    margin: 0 0 0 0;
    background-color: #fff;
    float: right;
    z-index: 0;
}

.menu li {
    display: inline-block;
    
}
.menu a {
    clear: right;
    text-decoration: none;
    color: #242424;
    margin: 0 10px;
    line-height: 70px;
    font-size: 0.95em;
}

label {
    margin: 0;
	font-size: 1.5em;
    line-height: 70px;
    display: none;
    color: #242424;
    width: 26px;
    float:right;
    z-index: 10;
}
#toggle {
    display: none;
}

@media screen and (max-width:800px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
       
        width: 70%;
        display: none;
    }
    .menu a {
    display: block;
    border-bottom: 0.5px solid #242424;
    margin: 0;
    text-align: center;
    }
    #toggle:checked + .menu {
    display: block;    
    position: absolute;
    -webkit-transform: translate(100px, 0);
    transform: translate(100px, 0);
    
    
    }
  
    
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
}



/* ================================= 
  Header & Title
==================================== */

.header {
    width: 100%;
    min-height: 9em;
    margin-top: 1.5em;
    background-color: aliceblue;
    
}

.header h1 {
    text-align: center;
    line-height: 9em;
    color: #2d2c72;  
}

 

/* ================================= 
  Col
==================================== */

.new,
.hide {
    margin-top: 3.5em;
    text-align: center;
}

.colPic {
    width:70%;
}


#more {
    display: none;
}





@media screen and (min-width:800px) {
    .col {
		display: inline-block;
        margin-right: -0.5em;
        margin-top: 1.5em;
        margin-bottom: 2em;
		vertical-align: top;
		width: 50%;
		padding-left: 1em;
        padding-right: 1em;
        font-size: .95em;
	}
}

@media screen and (max-width:800px) {
    .col {

        margin-top: 3em;
        margin-bottom: 4em;
        font-size: .95em;
        
	}
}




/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 800px) {



    .container,
    .container2 {
		width: 80%;
		max-width: 1200px;
		margin: 0 auto;
	}


/* ================================= 
  CTA button
==================================== */

.CTA {
       
    background-color: white;
    border: 0.7px solid #242424;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    width: 40%;
}

.btnText {
font-family: Helvetica;
font-size: 1em;
color: #242424;

text-align: center;
}

/* ================================= 
  Footer
==================================== */

.main-footer {
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top:  8em;
    background: #242424;
    padding-top: 1em;

 }

 .first,
 .second {
     margin-top: .5em;
     margin-bottom: 2em;
 }


 .main-footer p{
    font-size: 0.7em;
    font-family: Helvetica;
    color: #fff;
 }

 .bottomMenu a{
    font-size: 1em;
    font-family: Helvetica;
    color: #fff;
 }


.bottomMenu li {
    display: inline-block;
}
.bottomMenu a {
    clear: right;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 0.95em;
}

 @media screen and (max-width: 800px) {
    .footer {
        position: relative;
        width: 100%;
        height: 50%;
        text-align: center;
        margin-top:  8em;
        background: #242424;
        
    
     }
   
 }
